<section data-ng-controller="HomeController">
    <br>
	<div class="jumbotron text-center" style="height: 700px">
        <div class="col-xs-12">
            <h2>FDM Analytics Tool</h2>
            <hr style="border-color: black">
        </div>
		<div class="col-xs-4">
            <h4>Filter</h4>
            <hr style="border-color: black">
            <label>Location</label>
            <select class="">
                <!-- Change value -->
                <option value="volvo">Everywhere</option>
                <option value="saab">UK</option>
                <option value="mercedes">US</option>
                <option value="audi">EU</option>
            </select>
            <br>
            <label>Degree</label>
            <select class="">
                <!-- Change value -->
                <option value="volvo">All</option>
                <option value="saab">1st</option>
                <option value="mercedes">2.1</option>
                <option value="audi">2.2</option>
            </select>
            <br>
            <label>Job Role</label>
            <select class="">
                <!-- Change value -->
                <option value="volvo">All</option>
                <option value="saab">1st</option>
                <option value="mercedes">2.1</option>
                <option value="audi">2.2</option>
            </select>
            <br>
            <label>FDM Office</label>
            <select class="">
                <!-- Change value -->
                <option value="volvo">All</option>
                <option value="saab">1st</option>
                <option value="mercedes">2.1</option>
                <option value="audi">2.2</option>
            </select>
            <br>
            <label>Degree subject</label>
            <select class="">
                <!-- Change value -->
                <option value="volvo">All</option>
                <option value="saab">1st</option>
                <option value="mercedes">2.1</option>
                <option value="audi">2.2</option>
            </select>
            <br>
            <label>Operating Location Name</label>
            <select class="">
                <!-- Change value -->
                <option value="volvo">All</option>
                <option value="saab">1st</option>
                <option value="mercedes">2.1</option>
                <option value="audi">2.2</option>
            </select>
            <br>
            <label>Date</label><br>
            <label>From</label>
            <input type="date">
            <Br>
            <label>To</label>
            <input type="date">
                <br>
                <br>
            <button class="btn btn-sm btn-primary">Show data</button>
            
        </div>
        <div class="col-xs-8">
            <label>Select Data</label>
            <select class="">
                <!-- Change value -->
                <option value="volvo">Degree</option>
                <option value="saab">Something2</option>
                <option value="mercedes">Something3</option>
                <option value="audi">Something4</option>
            </select>
            
            <select class="selectpicker">
                <!-- Change value -->
                <option value="volvo">University</option>
                <option value="saab">Something2</option>
                <option value="mercedes">Something3</option>
                <option value="audi">Something4</option>
            </select>
            <label>Select chart type</label>
            <select class="selectpicker">
                <!-- Change value -->
                <option value="volvo">Pie Chart</option>
                <option value="saab">Bar Chart</option>
                <option value="mercedes">Something3</option>
                <option value="audi">Something4</option>
            </select>
            <hr style="border-color: black">
            <canvas id="rice" width="600" height="400"></canvas>
        </div>
	</div>

</section>