<section data-ng-controller="ArticlesController">
	<div class="page-header">
		<h1>New Article</h1>
	</div>
	<div class="col-md-12">
		<form name="articleForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
                <form action="">
                  <input type="radio" name="gender" value="male"> Excel<br>
                  <input type="radio" name="gender" value="female"> Text<br>
                  <input type="radio" name="gender" value="other"> SQL
                </form>
				<div class="form-group" ng-class="{ 'has-error': articleForm.title.$dirty && articleForm.title.$invalid }">
					<label class="control-label" for="title">Title</label>
					<div class="controls">
						<input name="title" type="file" data-ng-model="title" id="title" class="form-control" placeholder="Title" required>
					</div>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>